.service-card {
  width: 165px;
  height: 165px;
  border-radius: 20px;
  background-color: #ffc6bd;
  padding: 20px;
  position: relative;
}
.service-card img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 60%;
}
.service-card .info {
  position: relative;
  z-index: 1;
}
