.edit-profile {
  max-width: 450px;
  width: 100%;
  max-height: 560px;
  overflow: auto;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px 15px;
  position: relative;
}
.edit-profile .popup-logo {
  width: 90px;
  height: 78px;
  margin-bottom: 25px;
}
.edit-profile .close-icn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.edit-profile .form-control {
  height: 42px;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: #eee;
  border: 0;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  color: #000;
  line-height: 1.44;
}
.edit-profile .form-group {
  margin-bottom: 20px;
}
.edit-profile .desc,
.edit-profile .forget-pwd {
  font-size: 1.2rem;
  line-height: 1.44;
  letter-spacing: 0.1px;
  color: #000;
  margin-bottom: 25px;
}
.edit-profile .desc {
  margin-bottom: 20px;
  opacity: 1;
}
.edit-profile .desc a {
  color: #2d581b;
  font-size: inherit;
}
.edit-profile .btn-primary {
  border-color: #000;
  width: 100%;
  border-radius: 20px;
  background: #000;
  color: #fff;
}
.edit-profile .btn-primary:hover {
  background: #fff;
  color: #000;
}
.edit-profile .nav-pills {
  margin-bottom: 25px;
}
.edit-profile .nav-pills .nav-link {
  opacity: 0.3;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #000;
  line-height: 1.4;
  position: relative;
}
.edit-profile .nav-pills .nav-link.active:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  top: calc(100% + 10px);
  content: '';
}
.edit-profile .nav-pills .nav-link.active {
  opacity: 1;
}
.overlay-page.active-flex {
  display: flex;
}
.otp-text {
  text-align: center;
}
.delete-profile {
  padding-top: 0px;
  width: 355px;
  text-align: center;
  margin-bottom: -28px;
}
.head {
  top: 0px;
  position: relative;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: auto;
  padding: 0px;
  border-bottom: ridge;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid black;
  margin-bottom: 70px;
}
.edit-buttonn {
  margin-top: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-button {
  width: 200px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  /* box-shadow: -6px -6px 2px #12141a27; */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid;
  outline: none;
  text-align: center;
}
.edit-button:hover {
  background-color: #000;
  color: #fff;
}
.errors {
  color: red;
  padding-left: 12px;
  font-size: x-small;
  padding-top: 10px;
}
.modalImage {
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #b22222;
  /* filter: invert(70%) sepia(100%) saturate(4122%) hue-rotate(9deg) brightness(88%) contrast(150%); */
}
.modalButton {
  margin-left: auto;
  margin-right: 30px;
  font: normal normal normal 12px Montserrat;
  color: #272d3bb5;
  border: none;
}
.upload_image > input {
  display: none;
}
.textfield {
  font-family: Montserrat;
  display: flex;
  align-items: center;
  /* margin: 11px 30px 11px 30px; */
  /* padding-left: 87px; */
  /* padding-right: 30px; */
  width: 20%;
  margin-left: 137px;
}
.modalContainer1 {
  z-index: 9999;
  max-width: 430px;
  /* max-width: 1024px; */
}
.modalContainer1 {
  margin: auto;
}
.customDeleteClass {
  margin-top: 100px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.modalContainer {
  z-index: 9999;
  max-width: 500px;
}
.footerr {
  border-top: none;
  display: flex;
  padding-top: 20px;
  padding-left: 26px;
  padding-right: 26px;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  .edit-profile {
    padding: 30px 50px 50px;
  }
  .edit-profile .popup-logo {
    margin-bottom: 36px;
  }
  .edit-profile .form-control {
    height: 60px;
  }
  .edit-profile .forget-pwd {
    margin-bottom: 46px;
  }
  .edit-profile .btn-primary {
    height: 85px;
  }
  .edit-profile .nav-pills .nav-link {
    font-size: 3rem;
  }
  .edit-profile .nav-pills {
    margin-bottom: 50px;
  }
}
@media (min-width: 540px) and (max-width: 680px) {
  .modalContainer1 {
    margin: auto;
  }
}
@media (min-width: 280px) and (max-width: 460px) {
  .modalContainer1 {
    display: flex;
    margin-top: 75px;
    width: 89%;
    margin-left: 15px;
  }
}
@media (min-width: 470px) and (max-width: 1024px) {
  .modalContainer1 {
    margin-top: 75px;
  }
}
