.select-group .select-opt__value-container {
  padding-left: 46px;
}
.select-group .select-opt__control {
  border-radius: 10px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 0;
  height: 42px;
}
.select-group .select-opt__indicator-separator {
  display: none;
}
.select-group .select-opt__option,
.select-group .select-opt__placeholder,
.select-group .select-opt__single-value {
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #000000;
}
.select-group .select-opt__placeholder {
  opacity: 0.5;
}
.select-group .select-opt__value-container {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .select-group .select-opt__value-container {
    padding-left: 38px;
  }
}
@media only screen and (min-width: 992px) {
  .select-group .select-opt__control {
    height: 50px;
  }
}
